body {
  background-color: #f1f6fd;
  color: #4c4c4c;
  font-family: "Poppins", sans-serif;
}

a {
  color: #87b6f7;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
