.Dictionary section {
  background-color: #ffffff;
  padding: 30px;
  margin: 30px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(177, 176, 176, 0.2);
}

.Dictionary h1 {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin: 30px 0;
}

.Dictionary input {
  color: #5a5a5a;
  width: 70%;
  display: block;
  padding: 8px 12px;
  margin: 10px auto;
  border-radius: 4px;
  border: 1px solid #5a5a5a;
}

.Dictionary .hint {
  font-size: 14px;
  opacity: 60%;
  text-align: center;
  margin-top: 10px;
}
